--extra-index-url https://download.pytorch.org/whl/cu126

torch
torchvision
torchaudio
einops
imageio
matplotlib
moviepy
pandas
PyQt5
SoccerNet
av
pyav
moviepy==1.0.3
numpy
imageio
decorator
tqdm
Pillow
scipy
pydub
audiofile
opencv-python
scikit_learn
git+https://github.com/ajhamdi/mvtorch
