
--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.0.0

--extra-index-url https://pypi.nvidia.com
cuml-cu11

torchvision==0.15.0
# torchaudio

xformers==0.0.18

SoccerNet
av
pyav
pydub
audiofile
Pillow
opencv-python
numpy
matplotlib


